*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    transition: .4s ease;
    max-width: 100%;
    max-height: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;

  }

footer {
    display: flex;
    background-color: #151515;
    width: 100%;
    padding: 10px;
}

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #151515;
    width: 100%;
    padding: 20px 8% 2%;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
    margin-top: 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 18px
}

nav ul li a:hover {
    color: #ee582e;
    transition: .4s;
    transform: scale(1.1, 1.1)
} 


  

@media (max-width: 500px) {
    body {
        grid-template-areas:
            "header"
            "nav"
            "main"
            "footer";
    }

    nav ul {
        flex-direction: column;
    }
}

@media (min-width: 1500px) {
    body {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (min-width: 3000px) {
    body {
        margin-left: 15%;
        margin-right: 15%;
    }
}